<!DOCTYPE html>
<html>
<head>
    <title>Text Generator</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Courier New', monospace; /* Retro-style font */
        }

        .input-container {
            display: flex;
            align-items: center;
        }

        .input-field {
            width: 500px;
            padding: 10px;
            border: none;
            border-bottom: 1px solid #888; /* Retro-style line */
            font-size: 16px;
            outline: none; /* Remove the default outline */
            background-color: #f5f5f5; /* Retro-style background color */
            color: #333; /* Retro-style text color */
            letter-spacing: 2px; /* Increased letter spacing for a retro look */
        }

        .send-button {
            margin-left: 10px;
            padding: 10px 20px;
            background-color: #00cc00; /* Green color */
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Retro-style box shadow */
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }

        .send-button::before {
            content: "\2192"; /* Right arrow unicode character */
            margin-right: 5px;
        }

        .output-container {
            display: none;
            margin-top: 20px;
            border: 1px solid #888;
            background-color: #f5f5f5; /* Retro-style background color */
            padding: 20px;
            max-height: calc(100vh - 200px);
            overflow-y: auto;
            transition: max-height 0.3s; /* Add transition for growing effect */
        }

        .output-container.show {
            display: block;
            max-height: 500px; /* Adjust the max height as needed */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    // Fetch prompts and responses from the API endpoint
    import axios from "axios";

    axios.get('/prompts')
      .then(response => {
        const { prompts, responses } = response.data;
        // Use the prompts and responses to update your HTML content
        // For example, you can update a list of prompts and responses

        // Example: Update a list of prompts
        const promptList = document.getElementById('prompt-list');
        prompts.forEach(prompt => {
          const listItem = document.createElement('li');
          listItem.textContent = prompt;
          promptList.appendChild(listItem);
        });

        // Example: Update a list of responses
        const responseList = document.getElementById('response-list');
        responses.forEach(response => {
          const listItem = document.createElement('li');
          listItem.textContent = response;
          responseList.appendChild(listItem);
        });
      })
      .catch(error => {
        console.error(error);
      });
  </script>
</head>
<body>
    <div id="app">
        <div class="input-container" v-show="!showOutput"> <!-- Hide the input container when showOutput is true -->
            <label>
                <input type="text" class="input-field" placeholder="Enter your prompt" v-model="inputText">
            </label>
            <button class="send-button" @click="generateText"></button>
        </div>

        <div class="{ show: showOutput }"> <!-- Apply show class to display the output container -->
            <h3>Generated Text:</h3>
            <p>{{ outputText }}</p>
        </div>
    </div>
</body>
</html>








