<!DOCTYPE html>
<html lang="en">
<head>
    <title>Generated Response</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Courier New', monospace; /* Retro-style font */
        }

        .response-container {
            margin-top: 20px;
            border: 1px solid #888;
            background-color: #f5f5f5; /* Retro-style background color */
            padding: 20px;
            max-width: 500px;
            text-align: center;
        }

        .back-button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #00cc00; /* Green color */
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Retro-style box shadow */
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }

        .back-button::before {
            content: "\2190"; /* Left arrow unicode character */
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <div class="response-container">
        <div class="container" id="input-container">
            <h3>Generated Response:</h3>
            <p>{{ response }}</p>
        </div>
        <div class="container" id="container-2">
            <!-- Second container content -->
        </div>
        <div class="container" id="container-3">
            <!-- Third container content -->
        </div>
        <button class="back-button" onclick="location.href='index.html'">Go Back</button>
    </div>
</body>
<script src="./assets/js/highlight.min.js"></script>
<script src="./assets/js/showdown.min.js"></script>
<script src="./assets/js/index.js"></script>
</html>
