/* Reset default browser styles */
body, h1, h2, p, input, select, button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Set global styles */
body {
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 20px;
}

/* Page styles */
h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

/* Form styles */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Other styles */
.prompt-box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
