/* Reset default browser styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Set global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Apply box-sizing border-box to all elements */
* {
  box-sizing: border-box;
}

/* Add styles for the root container */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add styles for links */
a {
  text-decoration: none;
  color: #333;
}

/* Add styles for buttons */
button {
  cursor: pointer;
}

/* Add any other global styles or resets you need */

