/* styles.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the background color and font for the whole page */
body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f6f5f7 url(https://images.unsplash.com/photo-1500993855538-c6a99f437aa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
}

/* Create a wrapper to contain the sidebar and details section */
.wrapper {
  display: flex;
  min-height: 100vh;
}

/* Style the sidebar */
.Sidebar {
  width: 80px;
  background-color: transparent; /* Updated: Set the sidebar background color to transparent */
  color: #fff;
}

.Sidebar__nav {
  margin-top: 30px;
}

.Sidebar__nav-list {
  list-style: none;
  padding-left: 0;
  display: flex; /* Updated: Display icons horizontally */
}

.Sidebar__nav-list__item {
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  flex: 1; /* Updated: Expand each icon item */
}

.Sidebar__nav-list__item:hover {
  background-color: #555;
}

.Sidebar__nav-list__item--active {
  background-color: #555;
}

/* Style the details section */
.Details {
  flex: 1;
  padding: 20px;
}

.Details__header {
  margin-bottom: 20px;
}

.Details__title {
  font-size: 24px;
  font-weight: bold;
}

.Details__nav-list {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
  color: #333;
}

.Details__nav-list__item {
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ddd;
  color: #333;
  text-decoration-color: #333;
  text-decoration: none;
  border-radius: 4px;
}

.Details__nav-list__item:hover {
  background-color: #ccc;
}

.Details__nav-list__item--active {
  background-color: #555;
  color: #fff;
}

.Details__body {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 4px;
  color: #fff;
}

.Details__options-list {
  list-style: none;
}

.Details__options-list__item {
  margin-bottom: 20px;
}

.Media {
  display: flex;
  align-items: center; /* Updated: Vertically center the icon and checkbox */
}

.Media__side--left {
  margin-right: 10px;
  flex: 0 0 auto;
}

.Media__image {
  width: 60px; /* Updated: Enlarge the icons */
  height: 60px; /* Updated: Enlarge the icons */
}

.Media__body {
  flex: 1;
  display: flex; /* Updated: Display icon and checkbox side by side */
  align-items: center; /* Updated: Vertically center the checkbox */
}

.Media__side--right {
  flex: 0 0 auto;
  margin-left: 10px; /* Updated: Add margin to separate the checkbox */
}

.Button--sync {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Button--sync:hover {
  background-color: #0056b3;
}

.a-spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Add additional styles for the page */
.Details__options-list__item {
  position: relative;
}

.Details__options-list__item::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  pointer-events: none;
  transition: background-color 0.3s ease;
}

.Details__options-list__item:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.Details__nav-list__item a {
  text-decoration: none;
  color: black;
}

.Details__nav-list__item a,
.Details__options-list__item a {
  text-decoration: none;
  color: white;
}






