body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', monospace; /* Retro-style font */
}

.container {
    width: 500px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 5px solid #888; /* Retro-style border */
    border-radius: 15px; /* Retro-style border radius */
    margin: 0 auto 20px;
}

.title {
    margin: 0 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px; /* Increase or decrease the font size as desired */
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; /* Increase or decrease the letter spacing as desired */
}

.input-container {
    margin-bottom: 10px;
}

.input-box {
    width: 100%;
    padding: 5px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Increase or decrease the font size as desired */
    font-family: 'Courier New', monospace; /* Retro-style font */
}

.output-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0;
    z-index: 9999;
    overflow-y: auto;
}

.output-box {
    width: 100%;
    padding: 5px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Increase or decrease the font size as desired */
    font-family: 'Courier New', monospace; /* Retro-style font */
}

.buttons-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #f0f0f0;
    border: 1px solid #888;
    border-radius: 5px;
    font-size: 16px; /* Increase or decrease the font size as desired */
    font-family: 'Courier New', monospace; /* Retro-style font */
    cursor: pointer;
}