*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, P, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f6f5f7 url(https://images.unsplash.com/photo-1500993855538-c6a99f437aa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
}

h1, h2, h3 {
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: center;
  margin: 10% 5%;
}

.settings {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  padding: 5px 15px;

}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header {
  display: inline-flex;
  width: 100%;
  margin: 25px 0 15px;
  justify-content: space-between;
}


header h1 {
  font-size: 1.35rem;
  font-variant: small-caps;
  margin: 0;

}

header .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666886;
}

.profile img {
  width: 100%;
  border-radius: 50%;
}

section {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

section h2 {
  font-size: .95rem;
  margin-bottom: 0px;
  width: 100%;
}

section p {
  font-size: .85rem;
  width: 60%;
  margin-top: 10px;
  letter-spacing: 0.05rem;


}
section span  {
  margin-top: 10px;

}

.user {
  margin-top: -10px;
}

.user input{
  border: none;
  height: 30px;
  width: 100%;
  margin-top: 7px;
  padding-left: 8px;
}

#theme {
  cursor: pointer;
}

.social > p {
  width: 85%;
}

.social > .sm {
  display: block;
  text-align: right;
  width: 1.75rem;
  height: 1.25rem;
  position: relative;
  line-height: 0;
  margin-top: 5px;
}

.social > .sm input {
  opacity: 0;
}

.social > .sm label {
  position: absolute;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: background-color .2s ease-in-out;
          transition: background-color .2s ease-in-out;
}

.social > .sm label:after {
  content: "\f00c";
  font-family: FontAwesome, sans-serif;
  font-size: 1.595rem;
  cursor: pointer;
  position: absolute;
  top: .4275rem;
  left: .25rem;
  color: #1f1f3f;
    -webkit-transition: color .2s ease-in-out;
          transition: color .2s ease-in-out;
}

.social > .sm input[type=checkbox]:checked ~ label:after {
  color: rgb(0,225,225);
}



/* dark theme */
.dark {
  background-color: rgba(26, 31, 43, 0.8);
  color: #e1e1e1;
  border-radius: 20px; /* Adjust the value as needed */
}

.dark h2, .dark span {
  color: #666886;
}

.dark .user input {
  background-color: rgba(0,0,0,.2);
  color: #e1e1e1;
}
.dark .user input:focus {
    outline: rgb(0, 252, 252) 2px;
}


/* light theme */
.light {
  color: #1a1f2b;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 20px;
}


.light .social > .sm label:after {
  color: #a1a1a1;
}

 .Sign-Out a {
  color: white;
  text-decoration: none;
}
.Sign-Out p {
  word-spacing: -0.3em;
}

nav {
  font-size: 24px;
}

.green-button {
  display: inline-block;
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

.back-link {
  text-decoration: none;
  color: white;
}
