body {
  font-family: Arial, sans-serif;
  background: #f6f5f7 url(https://images.unsplash.com/photo-1500993855538-c6a99f437aa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.confirmation {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  max-width: 400px;
}

.confirmation h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.confirmation p {
  font-size: 18px;
  color: #666666;
  margin-bottom: 30px;
}

.confirmation img {
  width: 100px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: #00cc99;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #00997a;
}
