<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->
  <nav class="nav nav-borders">
    <a class="nav-link  ms-0 " href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Profile</a>
    <a class="nav-link active" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page" target="__blank">Billing</a>
    <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page" target="__blank">Security</a>
    <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page" target="__blank">Notifications</a>
  </nav>
  <hr class="mt-0 mb-4">
  <div class="row">

    <div class="col-lg-4">
      <!-- Main Menu-->
      <div class="card mb-4">
        <button class="btn btn-primary">
          Profile
        </button>
      </div>
      <!-- Delete account card-->
      <div class="card mb-4">
        <div class="card-header">Delete Account</div>
        <div class="card-body">
          <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.</p>
          <button class="btn btn-danger-soft text-danger" type="button">I understand, delete my account</button>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <!-- Change password card-->
      <div class="card mb-4">
        <div class="card-header">Change Password</div>
        <div class="card-body">
          <form>
            <!-- Form Group (current password)-->
            <div class="mb-3">
              <label class="small mb-1" for="currentPassword">Current Password</label>
              <input class="form-control" id="currentPassword" type="password" placeholder="Enter current password">
            </div>
            <!-- Form Group (new password)-->
            <div class="mb-3">
              <label class="small mb-1" for="newPassword">New Password</label>
              <input class="form-control" id="newPassword" type="password" placeholder="Enter new password">
            </div>
            <!-- Form Group (confirm password)-->
            <div class="mb-3">
              <label class="small mb-1" for="confirmPassword">Confirm Password</label>
              <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm new password">
            </div>
            <button class="btn btn-primary" type="button">Save</button>
          </form>
        </div>
      </div>
      <!-- Security preferences card-->
      <div class="card mb-4">
        <div class="card-header">Security Preferences</div>
        <div class="card-body">
          <!-- Account privacy optinos-->
          <h5 class="mb-1">Account Privacy</h5>
          <p class="small text-muted">By setting your account to private, your profile information and posts will not be visible to users outside of your user groups.</p>
          <form>
            <div class="form-check">
              <input class="form-check-input" id="radioPrivacy1" type="radio" name="radioPrivacy" checked="">
              <label class="form-check-label" for="radioPrivacy1">Public (posts are available to all users)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="radioPrivacy2" type="radio" name="radioPrivacy">
              <label class="form-check-label" for="radioPrivacy2">Private (posts are available to only users in your groups)</label>
            </div>
          </form>
          <hr class="my-4">
          <!-- Data sharing options-->
          <h5 class="mb-1">Data Sharing</h5>
          <p class="small text-muted">Sharing usage data can help us to improve our products and better serve our users as they navigation through our application. When you agree to share usage data with us, crash reports and usage analytics will be automatically sent to our development team for investigation.</p>
          <form>
            <div class="form-check">
              <input class="form-check-input" id="radioUsage1" type="radio" name="radioUsage" checked="">
              <label class="form-check-label" for="radioUsage1">Yes, share data and crash reports with app developers</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="radioUsage2" type="radio" name="radioUsage">
              <label class="form-check-label" for="radioUsage2">No, limit my data sharing with app developers</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>