<!DOCTYPE html>
<html>
	<head>
		<title>Text Generator</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	</head>
	<body>
		<div id="app">
			<div class="container" v-if="!showOutput">
				<h1 class="title">Generative Modeling is Important for Creative Ads</h1>

				<div class="input-container">
					 <input type="text" class="input-box" placeholder="Enter your prompt" v-model="inputValue" />
				</div>

				<div class="buttons-container">
					<button class="button" @click="generateOutput">Generate</button>
				</div>
			</div>

			<div class="output-container" v-if="showOutput">
				<textarea class="output-box" :value="outputValue" readonly></textarea>
				<div class="buttons-container">
					<button class="button" @click="reset">New Prompt</button>
					<button class="button" @click="generateOutput">Regenerate</button>
				</div>
			</div>
		</div>
		<script>
			new Vue({
				el: '#app',
				data: {
					inputValue: '',
					outputValue: '',
					showOutput: false,
				},
				methods: {
					generateOutput() {
						// Simulate generating output based on the prompt
						const generatedOutput = 'This is the generated output.\nIt can be multiple lines.';
						this.outputValue = generatedOutput;
						this.showOutput = true;
					},
					reset() {
						this.inputValue = '';
						this.outputValue = '';
						this.showOutput = false;
					},
				},
			});
		</script>
	</body>
</html>
