/* Add your own styles as needed */
.react-select__control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.react-select__menu {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.dropdown {
  margin-top: 20px;
}

h1 {
  text-align: center;
}

